<div>

    <facebook>
        <h2>{{name}}</h2>
        <div>
            <ul>
                {{>title data='Users'}}
                {{#each users}}
                <li>
                    <h3>id='{{id}}'</h3>
                    <p>name='{{name}}'</p>
                    <p>gender='{{gender}}'</p>
                    <p>age='{{age}}'</p>
                    <hr>
                    <div>
                        <ul>
                            <h2>"Friends"</h2>
                            {{#each friends}}
                            <li>
                                <h4>id='{{id}}'</h4>
                                <p>name='{{name}}'</p>
                                <p>gender='{{gender}}'</p>
                                <p>age='{{age}}'</p>
                                <ul>
                                    <!--{{>title data='Mutual_friends'}}-->
                                    <h3>"Manual_friends"</h3>
                                    {{#each mutual_friends}}
                                    <li>
                                        <h5>id='{{id}}'</h5>
                                        <p>name='{{name}}'</p>
                                        <p>gender='{{gender}}'</p>
                                        <p>age='{{age}}'</p>
                                        <ul>
                                            <h6>"Manual_friends"</h6>
                                            {{#each mutual_friends}}
                                            <li>
                                                <h6>id='{{id}}'</h6>
                                                <p>name='{{name}}'</p>
                                                <p>age='{{age}}'</p>

                                            </li>{{/each}}
                                        </ul>

                                    </li>
                                    {{/each}}

                                </ul>
                                <ul>
                                    <h4>"groups"</h4>
                                    {{#each groups}}
                                    <li>
                                        <h4>id='{{id}}'</h4>
                                        <p>name='{{name}}'</p>
                                        <b>description='{{description}}'</b>
                                        <ul>
                                            <h6>"Members"</h6>
                                            {{#each members}}
                                            <h6>id="id"</h6>
                                            <p>gender='{{gender}}'</p>
                                            <p>age='{{age}}'</p>
                                            {{/each}}
                                        </ul>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <hr>
                    <div>
                        <ul>
                            <h2>"Groups"</h2>
                            {{#each groups}}
                            <li>
                                <h5>id='{{id}}'</h5>
                                <p>name='{{name}}'</p>
                                <p>description='{{description}}'</p>
                                <ul>
                                    {{>title data='members'}}
                                    {{#each members}}
                                    <li>
                                        <h6>id='{{id}}'</h6>
                                        <p>name='{{name}}'</p>
                                        <p>gender='{{gender}}'</p>
                                        <p>age='{{age}}'</p>
                                    </li>{{/each}}
                                </ul>

                            </li>
                            {{/each}}
                        </ul>
                    </div>

                    <hr>
                    <hr>
                </li>
                {{/each}}
            </ul>
        </div>
    </facebook>
</div>