{{!-- <main class="p-5">
    <div class="card col-12">
        <div class="row">
            <h2 class="text-secondary text-home py-3">Ivanov Pero</h2>
            <h3 class="text-secondary  text-end py-3">{{title}}</h3>
        </div>
    </div>
</main> --}}

<div>
    Hi
</div>


{{!-- <main p-5>
    <div class="card col-12">
        <div class="row">
            <div class="card-body mx-2 g-2 mb-2">
                {{!-- {{#with info}}
                <div class="col-12">
                    <div class="row">
                        <h2 class="text-secondary text-home py-3">{{name}}</h2>
                        <h3 class="text-secondary  text-end py-3">{{title}}</h3>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>


    </div>
    <div class="mb-5">

        {{#with list}}

        <div>
            <h3 class="text-center title text-dark">{{title}}</h3>
            <div>
                <div>
                    {{#each buttons}}
                    <div class="col-6 mx-2 my-2">
                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        {{/with}}
    </div>
</main> --}}