<main class="p-5">
    <div class="row">
        <div class="col-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="nav nav tabs">
                        {{#with navigation}}
                        {{#each links}}
                        <div class="nav-item">
                            <a href="{{href}}" class="nav-link">{{text}}</a>
                        </div>
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
            </div>

        </div>

        <section>
            {{#with newsBlock}}
            <h2 class="text-center title text-bg mb-5">{{title}}</h2>
            <div class="row">
                {{#each cards}}
                <div class="col-3">
                    <div class="card text-bg-secondary">
                        <div class="card-body mb-5">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <h5 class="card-header text-center col-12 mb-5">
                                        {{title}}
                                        {{#if isTop includeZero=true}}
                                        <button class="btn btn-danger rounded-pill mt-5">{{isTop}}</button>
                                        {{/if}}
                                        {{#if isNew includeZero=true }}
                                        <button class="btn btn-success rounded-pill mt-5">{{isNew}}</button>
                                        {{/if}}
                                    </h5>
                                </li>
                            </ol>
                            <p>{{description}}</b>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>


        <section>
            {{#with goodsBlock}}
            <div class="col-12 m-5">
                <div class="nav  nb-6">
                    {{#each tabs}}
                    <div class="nav nav-tabs my-2">
                        <div class="nav-item ">
                            <div class="nav-link {{#if isActive}}active{{/if}}
                                {{#if isDisabled}}disabled{{/if}}">
                                <p>{{text}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="row-12">
                <div class="row">
                    {{#each cards}}
                    <div class="card  col-3 mx-2 g-2">
                        <div class="card-body  mt-4 mb-3 ">
                            <img class='card-img-top' src={{image}}>
                        </div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <h5 class="card-header text-center col-12">
                                    {{title}}
                                    {{#if isTop includeZero=true}}
                                    <button class="btn btn-danger rounded-pill mt-5">{{isTop}}</button>
                                    {{/if}}
                                    {{#if isNew includeZero=true }}
                                    <button class="btn btn-success rounded-pill mt-5">{{isNew}}</button>
                                    {{/if}}
                                </h5>
                            </li>
                        </ol>
                        <p>{{description}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>

            {{/with}}
        </section>
        <hr class="m-5">

        <section class="mb-5">
            {{#with subscribe}}

            <div class="alert alert-dark">
                <div class="alert alert-dark">

                    <h2 class="card-header text-secondary m-2">{{header}}</h2>
                    <p class="m-2">{{description}}</p>
                    {{#each buttons}}
                    <button class="btn btn-primary ">
                        <a href="{{link}}" class="text-light btn btn-link">{{text}}</a>
                    </button>
                    {{/each}}
                </div>
            </div>

            {{/with}}
        </section>

        <section class="mb-5">
            {{#with service}}

            <div class="alert alert-success text-center">
                <div class="alert alert-success">

                    <h2 class="card-header  text-secondary m-2">{{title}}</h2>
                    <p class="m-2">{{description}}</p>
                    {{#each buttons}}
                    <button class="btn btn-primary ">
                        <a href="{{link}}" class="text-light btn btn-link">{{text}}</a>
                    </button>
                    {{/each}}
                </div>
            </div>

            {{/with}}
        </section>
        <hr class="mb-5">
        <section class=" col-12 mb-5">
            <div class="nav">
                <div class="row">
                    {{#each footer}}
                    <div class="row">{{#each this }}
                        <div class="nav flex-column">
                            <div class="nav-item mx-5mb-2">

                                <a href="{{link}}" class="nav-link  {{#if @last}}disabled{{/if}}">{{text}}</a>

                            </div>
                        </div>
                        {{/each}}
                    </div>



                    {{/each}}
                </div>

            </div>
        </section>
    </div>
</main>