{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section class="mb-5">
            {{> title data="Work history" big=true}}
            <br>
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div>
                            {{position}}
                        </div>



                        <div>
                            {{duration.from}}
                            -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (досі тут працюємо)
                            {{/if}}
                        </div>



                        <div>
                            <b>
                                {{company.name}}
                            </b>
                            <!--{{>link text=company.name href=company.url blank=true noline=true}}-->
                        </div>

                        <div>
                            <strong>Project ({{projectAmount}})</strong>
                        </div>

                        <ul>
                            {{#each projects}}
                            <li>
                                <div>{{>link text=name href=url blank=true noline=true}}</div>

                                <div>{{about}}</div>

                                <br>
                                <div>
                                    <em>"Projects stacks"({{stackAmount}})</em>
                                </div>

                                <br>

                                <div>
                                    <ul>
                                        {{#each stacks}}
                                        <li class="ps-5">
                                            <div>{{name}}</div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>



                                <div>
                                    <em>"Projects awards"({{awardAmount}})</em>
                                </div>



                                <div>
                                    <ul>
                                        {{#each awards}}
                                        <li class="ps-5">
                                            <div>{{name}}</div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>


                            </li>
                            {{/each}}
                        </ul>

                    </li>

                    {{/each}}
                </ul>
            </div>

        </section>


        {{#with experience}}
        <sectionclass="mb-5">

            {{>title data=title}}
            <!-- {{> title data=text}}-->
            <div>
                <p>
                    {{text}}
                </p>
            </div>
            </section>
            {{/with}}
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}