<head>
    <title>
        {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
</head>







<body>
    {{nav}}

    {{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
    <!--<div>{{#with person}}
        <h2>{{name}}</h2>
        <h2>{{age}}</h2>
        <h2>{{gender}}</h2>
        {{/with}}
    </div>
    <hr>
    <br>-->
    {{{body}}}
</body>


</html>